@import './components/forms.scss';
@import './components/profiles.scss';
@import './components/photos.scss';
@import './components/landing.scss';

.navbar {
    margin: 0 !important;
}

.refresh-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.scroll-loader {
    text-align: center;
    margin: auto;
}